.saved-article-card {
  margin: 10px;
  padding: 10px;
  background-color: var(--background);
  border: 2px solid var(--text);
  border-radius: 8px;
}

.saved-article-card__title {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
  opacity: var(--opacityHigh);
}

.saved-article-card__title-url {
  color: var(--text);
}

.saved-article-card__title>a {
  color: var(--text);
}

.saved-article-card__display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.saved-article-card__image>img {
  width: 160px;
  height: 120px;
  object-fit: cover;
  color: var(--text);
}

.saved-article-card__text {
  display: flex;
  flex-flow: column;
}

.saved-article-card__description {
  font-weight: bold;
  margin: 0px 10px 10px 10px;
  font-size: 16px;
  opacity: var(--opacityMedium);
}

.saved-article-card__content {
  margin: 10px;
  font-size: 14px;
  opacity: var(--opacityMedium);
}

.saved-article-card__url {
  margin: 10px;
  padding: 2px;
  font-size: 14px;
  color: var(--text);
  opacity: var(--opacityHigh);
}

.saved-article-card__source {
  padding: 2px;
  font-weight: bold;
  font-size: 14px;
  color: var(--text);
  opacity: var(--opacityMedium);
}

.saved-article-card__time {
  font-weight: bold;
  font-size: 14px;
  color: var(--text);
  opacity: var(--opacityMedium);
}

.saved-article-card__buttons {
  display: flex;
  justify-content: right;
}

.saved-article-delete-button {
  background-color: var(--savedArticleButtonColor);
  color: white;
  margin: 0px 10px 0px 0px;
  width: auto;
  height: 32px;
  font-weight: bold;
  border: 2px solid #774360;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.saved-article-delete-button:hover {
  scale: 1.1
}