.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  height: 80px;
  width: 100%;
}

.navbar-logo {
  margin-right: 15px;
  height: 80px;
}

.navbar-categories {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  height: 80%
}

.navbar-categories-item {
  margin-left: 10px;
  display: inline-block;
}

.navbar-categories-item a {
  text-decoration: none;
  color: black;
}
  
.navbar-categories-item a:visited {
  text-decoration: none;
  color: black;
}
  
.navbar-categories-item :hover {
font-weight: bold;
text-decoration: underline;
}
  
.navbar-categories-item a:active {
  text-decoration: underline;
}

.navbar-button{
height: 80%;
font-size: 20px;
font-weight: bold;
border:none;
padding: 8px 8px 0px 8px;
background-color:white;
transition-duration: 0.2s;
border-bottom: 8px solid white;
border-left: 1px solid grey;
border-right: 1px solid grey;



}
.navbar-button:hover {
border-bottom: 8px solid black;


}

.navbar-button:active {
background-color: grey;
text-decoration: underline;
}  