.navbar-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;

}

.navbar-logo {
  margin-right: 15px;
  height: 80px;
}

.navbar-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 15px;
  height: 100%
}

.navbar-categories-item {
  margin-left: 10px;
  display: inline-block;
}

.navbar-categories-item a {
  text-decoration: none;
  color: black;
}
  
.navbar-categories-item a:visited {
  text-decoration: none;
  color: black;
}
  
.navbar-categories-item :hover {
font-weight: bold;
text-decoration: underline;
}
  
.navbar-categories-item a:active {
  text-decoration: underline;
}

.navbar-button{
height: 60%;
font-size: 20px;
font-weight: bold;
border:none;
padding: 8px 8px 0px 8px;
background-color:white;
transition-duration: 0.2s;
border-bottom: 8px solid white;
border-left: 1px solid grey;
border-right: 1px solid grey;



}
.navbar-button:hover {
border-bottom: 8px solid black;


}

.navbar-button:active {
background-color: grey;
text-decoration: underline;
}

.navbar-search-bar {
  height: 32px;
  display: flex;
  justify-content: right;
}

.my-facebook-button-class {
  background-color: #4267B2;
  color: white;
  width: 160px;
  height: 32px;
  font-weight: bold;
  margin: 0px 10px 0px 0px;
}

.sign-out-button {
  background-color: #4267B2;
  color: white;
  margin: 0px 10px 0px 0px;
  width: 160px;
  height: 32px;
  font-weight: bold;
}

.saved-articles-button {
  background-color: black;
  color: white;
  margin: 0px 10px 0px 0px;
  width: 160px;
  height: 32px;
  font-weight: bold;
}

.search-form__input{
  background-color: antiquewhite;
  color: black;
  margin: 0px 10px 0px 0px;
  width: 200px;
  height: 32px;
  font-weight: bold;
}