.article-card-minor {
  margin: 10px;
  padding: 10px;
  background-color: var(--background);
  border: 2px solid var(--text);
  border-radius: 8px;
}

.article-card-minor__title {
  margin: 0px 0px 10px 0px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text);
  opacity: var(--opacityHigh);
}

.article-card-minor__title-url {
  color: var(--text);
}

.article-card-minor__display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.article-card-minor__image > img {
  width: 160px;
  height: 120px;
  object-fit: cover;
  color: var(--text);
}

.article-card-minor__text {
  display: flex;
  flex-flow: column;
  color: var(--text);
}

.article-card-minor__description {
  font-weight: bold;
  margin: 0px 10px 10px 10px;
  font-size: 16px;
  color: var(--text);
  opacity: var(--opacityMedium);
}

.article-card-minor__content {
  margin: 10px;
  opacity: var(--opacityMedium);
}

.article-card-minor__url {
  margin: 10px;
  padding: 2px;
  font-size: 14px;
  color: var(--text);
  opacity: var(--opacityHigh);
}

.article-card-minor__source {
  padding: 2px;
  font-weight: bold;
  font-size: 14px;
  color: var(--text);
  opacity: var(--opacityMedium);
}

.article-card-minor__time {
  font-weight: bold;
  font-size: 14px;
  color: var(--text);
  opacity: var(--opacityMedium);
}

.article-buttons{
  display: flex;
  justify-content: right;
  height: 34px;
}

.social-media {
  font-size: 12px;
  font-weight: bold;
}

.social-media > *{
  margin: 0px 6px 0px 6px;
  transition-duration: 0.2s;
}

.social-media > *:hover{
  scale: 1.2
}


.article-save-button-login-prompt {
  border: none;
  background-color: var(--background);
  color: var(--text);
  margin: 0px 10px 0px 0px;
  width: 250px;
  height: 32px;
  font-weight: bold;
  transition-duration: 0.2s;
}


.article-save-button {
  background-color: var(--saveButtonColor);
  color: #FFFFFF;
  margin: 0px 10px 0px 0px;
  width: 120px;
  height: 32px;
  font-weight: bold;
  border: 2px solid var(--greenButtonBorder);;
  border-radius: 8px;
  transition-duration: 0.2s;
  opacity: var(opacityHigh);
}

.article-save-button:hover{
  scale: 1.1
}

.article-saved-button {
  background-color: var(--savedArticleButtonColor);
  color: #FFFFFF;
  margin: 0px 10px 0px 0px;
  width: 120px;
  height: 32px;
  font-weight: bold;
  border: solid 4px var(--savedArticleButtonColor);
  border-radius: 8px;
  transition-duration: 0.2s;
}






