.article-card-minor {
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 8px;
}

.article-card-minor__title {
  margin: 0px 0px 10px 0px;
  font-size: 28px;
  font-weight: bold;
}

/* ############################################## */
.article-card-minor__display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;  
}

.article-card-minor__image > img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.article-card-minor__text {
  display: flex;
  flex-flow: column;
}

.article-card-minor__description {
  font-weight: bold;
  margin: 0px 10px 10px 10px;
  font-size: 20px;
}

.article-card-minor__content {
  margin: 10px;
  font-size: 20px;
}

/* ############################################## */




