.article-card-minor {
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 8px;
}

.article-title {
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  font-weight: bold;
}

/* ############################################## */

.article-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;  
}

.article-image > img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.article-text {
  display: flex;
  flex-flow: column;
}

.article-description {
  font-weight: bold;
  margin: 0px 10px 10px 10px;
}

.article-content {
  margin: 10px;
}

/* ############################################## */




