.sidebar-container {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  padding: 4px;

  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.sidebar-buttons-container{
  display: flex;
  flex-flow: row;
  align-items: start;
}

.sidebar-filters-text{
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    color: var(--text);
    opacity: var(--opacityHigh);
}

.sidebar-filters-text > select {
  margin: 0px 0px 0px 6px;
}



.sidebar-button {
    background: none!important;
    border: none;
    font-family: 'Barlow', sans-serif;
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}

.sidebar-button:hover {
    text-decoration: underline;
}